.sidebar__main {
    flex: 0.2;
    display: block;
}

.sidebar__item {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    transition: ease-in-out 0.1s;
}

.sidebar__item:hover {
    background-color: lightgrey;
    cursor: pointer;
}

.sidebar__item:hover > .sidebarItem_icon {
    color: red;
}

.sidebar__item:hover > .sidebarItem_title {
    font-weight: bold;
    color: black;
}


.sidebarItem_icon {
    color: #606060;
    font-size: large;
}


.sidebarItem_title {
    flex: 1;
    margin-left: 20px;
    font-size: 12px;
    font-weight: 500;
}

.sidebar__item.selected {
    background-color: lightgray;
}

.sidebar__item.selected > .sidebarItem_icon {
    color: red;
}

.sidebar__main > hr {
    height: 1px;
    border: 0;
    background-color: lightgray;
    margin-top: 10px;
    margin-bottom: 10px;
}